@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: red;
  height: screen;
}

.bgHome{
  background-image: url('/bgHome.svg');
  background-repeat: repeat;
  background-size: contain;
}
.bgProjects{
  background-image: url('/bgProjects.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.divisionHome {
  background-image: url('../assets/image/home/homeDivision.png');
  background-repeat: repeat-x;
  height: 86px;
  width: 100%;
}
.divisionHome2 {
  background-image: url('/homePolygons.png');
  background-repeat: repeat-x;
  height: 120px;
  width: 100%;
}
.divisionAbout {
  background-image: url('../assets/image/projects/projectsDivision.png');
  background-repeat: repeat-x;
  height: 200px;
  width: 100%;
}

.divisionFooter {
  background-image: url('../assets/image/about/footerDivision.png');
  background-repeat: repeat-x;
  height: 180px;
  width: 100%;
}

.shadowImage {
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 0px 4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 4px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 4px rgba(0, 0, 0, 1);
}

[class^='number-slide'],
[class*=' number-slide'] {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #079CFF;
}




