@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: red;
  height: screen;
}

.divisionHome {
  background-image: url('../assets/image/home/homeDivision.png');
  background-repeat: repeat-x;
  height: 86px;
  width: 100%;
}
.divisionHome2 {
  background-color: #222124;
  background-repeat: repeat-x;
  height: 86px;
  width: 100%;
}
.divisionAbout {
  background-image: url('../assets/image/projects/projectsDivision.png');
  background-repeat: repeat-x;
  height: 200px;
  width: 100%;
}

.divisionFooter {
  background-image: url('../assets/image/about/footerDivision.png');
  background-repeat: repeat-x;
  height: 180px;
  width: 100%;
}

.shadowImage {
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 0px 4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 4px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 0px 4px rgba(0, 0, 0, 1);
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
  transition: all 0.3s ease-out;
}

.number-slide1 {
  border-radius: 8px;
  width: 330px;
}

.number-slide2 {
  border-radius: 8px;
  width: 330px;
}

.number-slide3 {
  border-radius: 8px;
  width: 330px;
}

.navigation-wrapper {
  position: relative;
  max-width: 330px;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #00008b;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
