@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: #F5F5F5;
}

header, body {
    background: #F5F5F5;
}


